body {
  background-color: #d9d872;
}

.clock {
  width: 600px;
  height: 600px;
  margin: auto;
  background-color: #454d66;
  position: relative;
  border-radius: 50%;
}

.clock .time {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: transparent;
  color: white;
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
  border-radius: 50%;
}

.clock .time:nth-child(0) {
  transform: rotate(-90deg) translate(270px) rotate(90deg);
}

.clock .time:nth-child(1) {
  transform: rotate(-60deg) translate(270px) rotate(60deg);
}

.clock .time:nth-child(2) {
  transform: rotate(-30deg) translate(270px) rotate(30deg);
}

.clock .time:nth-child(3) {
  transform: rotate(0deg) translate(270px) rotate(0deg);
}

.clock .time:nth-child(4) {
  transform: rotate(30deg) translate(270px) rotate(-30deg);
}

.clock .time:nth-child(5) {
  transform: rotate(60deg) translate(270px) rotate(-60deg);
}

.clock .time:nth-child(6) {
  transform: rotate(90deg) translate(270px) rotate(-90deg);
}

.clock .time:nth-child(7) {
  transform: rotate(120deg) translate(270px) rotate(-120deg);
}

.clock .time:nth-child(8) {
  transform: rotate(150deg) translate(270px) rotate(-150deg);
}

.clock .time:nth-child(9) {
  transform: rotate(180deg) translate(270px) rotate(-180deg);
}

.clock .time:nth-child(10) {
  transform: rotate(210deg) translate(270px) rotate(-210deg);
}

.clock .time:nth-child(11) {
  transform: rotate(240deg) translate(270px) rotate(-240deg);
}

.clock .time:nth-child(12) {
  transform: rotate(270deg) translate(270px) rotate(-270deg);
}

.clock .pointer .center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 15px;
  height: 15px;
  background-color: #d9d872;
  border-radius: 50%;
  z-index: 999;
}

.clock .pointer .sec {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding-left: 45%;
  width: 240px;
  height: 10px;
  background-clip: content-box;
  animation: sec-rotate 60s steps(60) infinite;
}

.clock .pointer .sec .sec-shake {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding-left: 35%;
  width: 240px;
  height: 10px;
  background-color: #fff;
  background-clip: content-box;
  animation: sec-shake 1s infinite ease-in;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
}

@keyframes sec-rotate {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(270deg);
  }
}

@keyframes sec-shake {
  0% {
    transform: rotate(0);
  }
  5% {
    transform: rotate(2deg);
  }
  10% {
    transform: rotate(0);
  }
  15% {
    transform: rotate(-1deg);
  }
  20% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}
